@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Pretendard-Regular";
  background-color: #f3f3f3;
}

.container {
  max-width: 100%;
}

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

.search-input {
  width: 50%;
  padding: 10px;
  margin: 20px 0;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.bookmark-btn {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.bookmark-btn:hover {
  background-color: #777;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.movie-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.movie-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ddd;
}

.movie-card h2 {
  font-size: 1.2rem;
  margin: 10px 10px;
}

.movie-card p {
  font-size: 1rem;
  color: #666;
  margin: 0 10px;
  margin-bottom: 20px;
}

.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* 반투명 검정 배경 */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
}

.modal.active {
  display: flex;
}

.modal-content {
  background: #ffff;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  max-height: 900px;
  width: 80%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

.modal-content img {
  max-width: 80%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.modal-content h2 {
  font-size: 1.5rem;
  margin: 10px 0px;
  color: #333;
}

.modal-content p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #535353; /* 닫기 버튼 색상 (빨강 계열) */
  color: #fff;
  border: none;
  border-radius: 50%; /* 둥근 버튼 */
  width: 30px;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 버튼 그림자 */
  transition: background 0.3s ease;
}
.modal-close:hover {
  background: #ff1e1e; /* 호버 시 더 강렬한 색상 */
}
